
<%= render 'form', delivery_truck: @delivery_truck %>

<div class="row">
	<div class="col-sm-1 col-sm-offset-9">
		
<i class= "btn btn-primary"><%= link_to 'Back', 'javascript:history.go(-1);' %></i>

	</div>
</div>

		<br/>		<br/>