
<div class="row">
	<div class="col-sm-8 col-sm-offset-2" style="text-align: center;">
	<br /><br />
		<h1>New Delivery Truck</h1>
		<br />
	</div>
</div>

<%= render 'form', delivery_truck: @delivery_truck %>

<div class="row">
	<div class="col-sm-1 col-sm-offset-9">
		
<i class= "btn btn-primary"><%= link_to 'Back', 'javascript:history.go(-1);' %></i>

	</div>
</div>

		<br/>		<br/>