<script src="sorttable.js"></script>
<% if current_user.admin? %>
  <p id="notice"><%= notice %></p>
    

<head>
<meta charset=utf-8>
<title>A sortable table with scrollable body</title>
  <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <style>
    /* Appearance */
    body, table { font-family: sans-serif; }
    table { border-collapse: collapse; }
    td, th { padding: 6px; }
    th { background: #333; color: white; }
    tbody tr:nth-child(odd) { background: #dfdfdf; }
    table { border: 1px solid red; }
    
    /* Scrollability of table */
    table { width: 500px; } /* fixed width table */
    thead tr { display: block; } /* makes it sizeable */
    tbody { 
      display: block; /* makes it sizeable */
      height: 170px; /* height of scrollable area */
      overflow: auto; /* scroll rather than overflow */
      width: 100%; /* fill the box */
    }
    thead th { width: 250px; } /* fixed width for THs */
    tbody td { width: 242px; } /* fixed width for TDs */
    /* the tbody needs to be 16px less than the thead, for the scrollbar */
    
  </style>
</head>
<body>

    <div class="col-sm-8 col-sm-offset-3 padleft">
  <h1>Drivers</h1>
  </div>

<div class="container">
  <div class="row-fluid">
    <div class="well">

    <%= link_to new_driver_path, remote: true do %>
    <button class="btn-default">
      <i class="fa fa-tasks"></i> Add Driver
    </button>
    <% end %>
    <div id="driverform-form" style="display:none;"></div>
    </div>
  </div>
</div>


    <div class="col-sm-10 col-sm-offset-1">

  <h1>A sortable table with scrollable body</h1>
  <table class="sortable">
    <thead><tr><th>Company</th><th>Leader</th></thead>
    <tbody>
      <tr><td><a href="http://www.kryogenix.org/">Kryogenix Consulting</a></td><td>Stuart Langridge</td></tr>
      <tr><td>Apple</td><td>Tim Cook</td></tr>
      <tr><td>Oracle</td><td>Larry Ellison</td></tr>
      <tr><td>Virgin</td><td>Richard Branson</td></tr>
      <tr><td>Louis Vuitton</td><td>Louis Vuitton</td></tr>
      <tr><td>Canonical</td><td>Mark Shuttleworth</td></tr>
      <tr><td>Google</td><td>Larry Page</td></tr>
      <tr><td>Armani</td><td>Giorgio Armani</td></tr>
      <tr><td>Ferrari</td><td>Enzo Ferrari</td></tr>
      <tr><td>Apple</td><td>Tim Cook</td></tr>
    </tbody>
  </table>

  
  <p>Built with my <a href="http://www.kryogenix.org/code/browser/sorttable/">sorttable</a>, and taking CSS inspiration from <a href="http://www.imaputz.com/cssStuff/bigFourVersion.html">Terence Ordona's "big four version" scrolltable tables</a>.</p>
  <p> &mdash; <a href="http://www.kryogenix.org/">Stuart Langridge</a>
    </div>
</body>
  <% end %>