<div class="row">
  <div class="col-sm-2">
    <ul class="nav navbar-side">
      <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">All Drivers</a></li>
      <br><br>
      <li><i> 
        <%= link_to new_driver_path, remote: true do %>
          <button class="btn-default">
            <i class="fa fa-tasks"></i> Add Driver
          </button>
        <% end %>
      </i></li>
    </ul>
  </div>
  <div class="col-sm-10">
    <br />
    <h3>Drivers</h3>
    <table class="table-striped sortable autobox" width="100%">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Edit / Delete</th>
      </thead>
      <tbody id= "drivers">
        <%= render @drivers %>
      </tbody>
    </table>
  </div>
</div>
