<div class="row">
  <div class="col-md-4 col-md-offset-4">
		<div class="well">	
			<h1 class="centerfy">New Vehicle</h1>
			<br />
			<%= render 'form', vehicle: @vehicle %>
		</div>
	</div>
</div>
<%= link_to 'Back', vehicles_path %>
