
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<div class="well">	
			<h1 class="centerfy">New Vehicle</h1>
			<br />
			<%= render 'form', vehicle: @vehicle %>
		</div>
	</div>

</div>
<%= link_to 'Back', vehicles_path %>

